<div class="header_body">
	<h1 class="main_header">Survey for Video Viewing</h1>
</div>
<div class="questionbody">
	<div class="question_text">
		<center><h1><b>Questions</b></h1></center>
		<div class="questiondiv" id="quesdiv">
			<div ng-repeat="ques in questions" ng-if="cur==($index+1)">
				<div class="timer" align="right">
					Time left : {{countdown}}
				</div>
				<h2>{{$index+1}}. Did you see <b>{{ques.option}}</b> in the video?</h2>
				<center>
					<button ng-model="option[$index]" class="btn" name="option" value="1" style="width:60px;height:40px;margin-top:30px" ng-click="increaseCur()">Yes</button>
					<button ng-model="option[$index]" class="btn" name="option" value="0" style="width:60px;height:40px;margin-left:40px;margin-top:30px;" ng-click="increaseCur()">No</button>
				</center>
			</div>
		</div>
	</div>
</div>