.video_body{
	background-color:#ffffff;
	width:1024px;
	height:450px;
	margin: 0 auto;
}

.video_iframe{
	align:left;
	margin-top:30px;
	margin-left:40px;
	float:left;
	margin-right: 50px;
}

.main_header{
	text-align:center;
	margin:0px;
	color:white;
	padding:50px;
}

.header_body{
	background-color:#464b52;
	margin-bottom:40px;
}

.body{
	background-color:#e8e8e8;
}

.video_text{
	color:#808080;
	padding:60px;
}

.question_text{
	color:#808080;
	padding:30px;
}

.questiondiv{
	margin-top: 100px;
	height:150px;
	//display: none;
}