<!DOCTYPE html>
<html lang="en" ng-app="surveyApp" >
<head>
	<meta charset="UTF-8">
	<title>Survey test</title>
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>
	<link href="bootstrap/css/bootstrap-theme.min.css" rel="stylesheet"></link>
	<link href="css/mystyles.css" rel="stylesheet"></link>
  	<link href="css/ng-animation.css" rel="stylesheet"></link>  
	<script src="angular/jquery/dist/jquery.js"></script>
	<script src="angular/angular/angular.js"></script>
	<script src="angular/angular-animate/angular-animate.js"></script>
	<script src="angular/angular-route/angular-route.js"></script>
	<script src="angular/angular-resource/angular-resource.js"></script>
	<script src="angularjs/app.js"></script>
	<script src="angularjs/controllers.js"></script>
	<script src="angularjs/animations.js"></script>
</head>

<body class="body" ng-controller="questionCtrl">
	<div class="header_body">
		<h1 class="main_header">Survey for Video Memorability</h1>
	</div>
	<div class="video_body">
		<div class="question_text">
			<center><h2><b>Questions</b></h2></center>
			<br>
			<p>{{checker}} Please answer the following questions based on what you think you saw. Please answer diligently because if you answer more than 4 incorrect answers your response will not be taken. You will get 10 seconds for each question.</p>
			<div class="questiondiv" id="quesdiv">
				<div ng-repeat="ques in questions" ng-if="cur==($index+1)">
					<div class="timer" align="right">
						Time left : {{countdown}}
					</div>
					<h3>{{$index+1}}. Did you see <b>{{ques.option}}</b> in the video?</h3>
					<input type="radio" ng-model="option[$index]" class="options" name="option" value="1" style="margin-left:20px;margin-right:10px" ng-click="increaseCur()">Yes</input>
					<input type="radio" ng-model="option[$index]" class="options" name="option" value="0" style="margin-left:40px;margin-right:10px" ng-click="increaseCur()">No</input>
				</div>
			</div>
		</div>
	</div>
</body>
</html>